/*jimBoYz*/
jimboyResize5.png
jimboys2crop.jpg
jimboysEdit2.png
Properties.prefs
jimBoYz Ni ChOy

/*Eclipse*/
bin
.settings/
.classpath
.project

*.class
*.log
*.jar
*.war
*.ear
target/
build/
.idea/
.vscode/